{% extends "layouts/main.twig" %}
{% block title %}405 - метод не разрешен{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1>405 - метод не разрешен</h1>
        </div>
    </div>
{% endblock %}
