{% extends "layouts/main.twig" %}
{% block title %}корзина - магазин мебели{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h1 class="display-4">Заказ оформлен!</h1>
                <p class="lead">Ваш заказ оформлен и в ближайшее время будет отправлен.</p>
                <hr class="my-4">
                <p>С Уважением, администрация магазина</p>
                <a class="btn btn-primary btn-lg" href="/" role="button">Вернуться на главную</a>
            </div>
        </div>
    </div>
{% endblock %}
