{% extends "layouts/main.twig" %}
{% block title %}корзина - магазин мебели{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
           <h2>Ваша корзина пуста</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <hr>
            <a href="/" class="btn btn-info">продолжить покупки</a>
        </div>
    </div>
{% endblock %}
