{% extends "layouts/main.twig" %}
{% block title %}товар добавлен - магазин мебели{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h3>Товар &laquo;{{ item.name }}&raquo; добавлен</h3>
            <a href="/" class="btn btn-secondary">продолжить покупки</a>
            <a href="/basket" class="btn btn-primary">оформить заказ</a>
        </div>
    </div>
{% endblock %}
