{% extends "layouts/main.twig" %}
{% block title %} список категорий {% endblock %}
{% block content %}
<ul>
    {% for item in items %}
    <li>{{ item.name }}</li>
    {% endfor %}
</ul>
{% endblock %}
