{% extends "layouts/main.twig" %}
{% block title %}доставка товаров{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h1 class="display-4">Условия доставки</h1>
                <p><strong>Доставка для физических лиц:</strong></p>
                <ul>
                    <li>
                        Доставка, на следующий день от дня заказа, осуществляется, при наличии товара на складе, в 3
                        временных интервала:
                        <ul>
                            <li>С 10:00 до 16:00;</li>
                            <li>С 16:00 до 21:00;</li>
                        </ul>
                    </li>
                    <li>
                        При оформлении товара «под заказ» доставка осуществляется в течении 1-х суток, после прихода
                        товара на склад;
                    </li>
                    <li>
                        Бесплатный подъем на этаж;
                    </li>
                </ul>
                <p><strong>Доставка для юридических лиц:</strong></p>
                <ul>
                    <li>
                        Доставка для юридических лиц осуществляется в течении 2-х календарных дней с даты поступления
                        оплаты на расчетный счет продавца, в связи с этим выбранная Вами дата может быть изменена
                        продавцом;
                        <ul>
                            <li>С 10:00 до 16:00;</li>
                            <li>С 16:00 до 21:00;</li>
                        </ul>
                    </li>
                    <li>
                        При оформлении товара «под заказ» доставка осуществляется в течении 1-х суток, после прихода
                        товара на склад;
                    </li>
                    <li>
                        Бесплатный подъем на этаж;
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
